.button-hover {
    transition: transform 0.3s ease-in-out;
  }
  
.button-hover:hover {
transform: scale(1.1);
}

.fly-in {
  display: none;
}

@keyframes flyInAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-in {
  animation: flyInAnimation 1s ease forwards;
}
.fly-in.minimized {
  display: block;
  max-height: 0;
  overflow: hidden;
}
.date-cell {
  padding-left: 20px;
}
.matches-body{
  position: absolute;
  top: 300px; 
  left: 34%
}
.day-count {
  position: absolute;
  top: 220px; /* Adjust this value to set the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  font-size: large;
  border-radius: 10px;
}
.main-body{
  background-image: url('images/football bg.jpg');
  height: 100vh;
}

#football {
  position: fixed;
  width: 50px;
  height: 50px;
  /* Add animation property */
  animation: float 5s infinite alternate;
}

@keyframes float {
  0% { transform: translate(-50%, -50%) translateY(0); }
  50% { transform: translate(-50%, -50%) translateY(-20px); }
  100% { transform: translate(-50%, -50%) translateY(0); }
}

.white-color-text{
  color:whitesmoke
}
.list-group-scroll {
  max-height: 800px; /* Set max height for scrollbar */
  overflow-y: auto; /* Enable vertical scrollbar */
  scrollbar-width: thin ; /* Specify scrollbar width */
}
.list-group-scroll.minimized {
  max-height: 0; /* Hide the list group when minimized */
  overflow-y: hidden; /* Hide the scrollbar when minimized */
}
.fade-in-out {
  animation: fadeInOut 4s ease-in-out;
  
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
  }
}
.right-side{
  position:relative;
  right: -123%;
  top: -200%;
}
.matches-alert {
  position: relative;
  top: 400px;
}
.pointer-cursor {
  cursor: pointer;
}
.navbar-text {
  margin-right: 20px;
}


.logged-user {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: add a background color with some transparency */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: "success";
}
.green-success {
  color: #28a745;
}
.right-align {
  margin-left: auto;
}

.fly-in-navbar {
  display: none;
}

@keyframes flyInNavbarAnimation {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.fly-in-navbar {
  animation: flyInNavbarAnimation 1.2s ease forwards;
}
.large-text {
  font-size: 1.5rem;
}
.navbar-border {
  border-radius: 10px;
}

.content-box {
  background-color: #333; /* Background color for the box */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.fly-in-homePage {
  display: none;
}

@keyframes flyInHomePageAnimation {
  0% {
    transform: translateY(+400%);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-in-homePage {
  display: block;
  animation: flyInHomePageAnimation 1.8s ease forwards;
}
.euro-logo {
  
  width: 600px;
  height: 369px;
  border-radius: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  border-radius: 10px;

}

.table th,
.table td {
  padding: 12px 15px;

}

.table th {
  background-color: #f4f4f4;
}

.table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table .form-control {

  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.table .text-center {
  text-align: center;
}

.table .align-middle {
  vertical-align: middle;
}

.table .team-name {
  font-weight: bold;
}

.table .score-input {
  width: 50px;
  text-align: center;
}
.left-align {
  text-align: left;
  margin-top: 30px;
}
.spacing {
  display: block;
  margin-top: 15px;
}